# site properties and page defaults
title: YS-Open-Lab
subtitle: Intelligent Systems & AI Research Lab
description: Empowering the Future with Cutting-edge AI Solutions
header: images/background.jpg
footer: images/background.jpg
proofer: false

# site social media and other links
links:
  email: contact@your-lab.com
  orcid: 0000-0001-8713-9213
  google-scholar: ETJoidYAAAAJ
  github: your-lab
  twitter: YourLabHandle
  youtube: YourLabChannel

### jekyll settings

# front matter defaults
defaults:
  # 根目录所有页面默认中文
  - scope:
      path: ""
    values:
      layout: default
      lang: zh

  # en/ 目录下所有页面默认英文
  - scope:
      path: "en"
    values:
      layout: default
      lang: en

  # members集合
  - scope:
      type: "members"
    values:
      layout: member
      lang: zh

  # posts集合
  - scope:
      type: "posts"
    values:
      layout: post
      lang: zh

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
